<div class="container">
  <h3>Employee Form</h3>
  <form #form="ngForm">
      <div class="form-group" [class.has-error]= "firstName.invalid  && firstName.touched">
          <label class="control-label">First Name </label>
          <input #firstName = "ngModel" pattern= "...+" type="text" required class = "form-control" required placeholder="First Name" name="firstName" [(ngModel)] ="model.firstName">
          <div *ngIf="firstName.invalid  && firstName.touched" class="alert alert-danger">
              First Name is required
          </div>
      </div>

      <h3>Classes</h3>
      <h4>{{firstName.className }}</h4>

      <div class="form-group">
          <label>Last Name </label>
          <input type="text" required placeholder="Last Name" name="lastName" [(ngModel)]="model.lastName">
      </div>

      <div class="checkbox">
          <label>
              <input type="checkbox" name="isFullTime" [(ngModel)]="model.isFullTime">Full Time Employee
          </label>
      </div>
      <label>Payment Type</label>
      <div class="radio">
          <label>
              <input type="radio" name="paymentType" value="w2" checked [(ngModel)] = "model.paymentType"> W2
          </label>
      </div>
      <div class="radio">
          <label>
              <input type="radio" name="paymentType" value="1099" [(ngModel)] = "model.paymentType"> 1099
          </label>
      </div>

      

      <div class="form-group" [class.has-error] = "hasPrimaryLanguageError">
          <label class="control-label">Primary Language</label>
          <select class="form-control" #primaryLanguage name="primaryLanguage" [(ngModel)] = "model.primaryLanguage"
              (blur)="validatePrimaryLanguage(primaryLanguage.value)"
              (change)="validatePrimaryLanguage(primaryLanguage.value)"
              >
              <option value="default">Select a language</option>
              <option *ngFor="let lang of languages">
                  {{lang}}
              </option>
          </select>
      </div>

      

      <div class="form-group">
          <label>Date Hired</label>
          <input type="date" class="form-control">
      </div> 
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">OK</button>
      <h3>{{form.valid}}</h3>
  </form>
<br />


</div>